@page "/Tovars"
@inject ITovariService RepBase
<h3>Goods</h3>

<h2>Список Товаров</h2>
@foreach (var item in people)
{
	<h3>Этого предмета @item.Title "не" существует</h3>
}

@code {
	private List<Tovari> people = new List<Tovari>();
	protected override async Task OnInitializedAsync()
	{
		people = await RepBase.GetAll();
	}
}
