@page "/Tovars"
@inject ITovariService TovariBase
<h3>Goods</h3>

<h2>Список Товаров</h2>
@foreach (var item in tova)
{
	<h3>Этого предмета @item.Title с ценой @item.Price "не" существует</h3>
}

@code {
	private List<Tovari> tova = new List<Tovari>();
	protected override async Task OnInitializedAsync()
	{
		tova = await TovariBase.GetAll();
	}
}
