@page "/persons"
@inject IUserService RepBase
<h3>Users</h3>

<h2>Список людей</h2>
@foreach (var item in people)
{
	<h3>Этого человека @item.Name не существует</h3>
}

@code {
	private List<User> people = new List<User>();
	protected override async Task OnInitializedAsync()
	{
		people = await RepBase.GetAll();
	}
}
